<div class="link animated jackInTheBox delay-3s">
  <a href="/">Home</a>
</div>
<div class="sliding animated fadeInLeft slower">
<h3>Your Selection</h3>
</div>
<div class="collection">
  {{#each video}}
  <table class="contain animated bounceInLeft slow delay-2s">
    <tr>
      <td colspan="2">
        <div class="thumbnail">
          <a href="/container/{{id}}"><img src="{{thumbnail}}" alt=""></a> 
        </div>
      </td>
    </tr>
    <tr>
      <td><strong>Name: </strong></td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td><strong>Artist: </strong></td>
      <td>{{artist}}</td>
    </tr>
    <tr>
      <td><strong>Genre: </strong></td>
      <td>{{genre}}</td>
    </tr>
  </table>
  {{/each}} 
</div>